.modal {
  width: 24rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 420px) {
    max-width: 100%;
  }

  &__header {
    width: 22rem;
    height: 4rem;
    color: var(--white);
    background-color: var(--secondary-color);
    padding: 1rem;
  }

  &__title {
    h2 {
      margin-top: 1rem;
      font-size: 1.8rem;
      font-weight: 700;
      font-style: italic;
      text-align: center;
    }
  }

  &__close {
    width: 1rem;
    height: 1rem;
    padding: 0.2rem;
    font-weight: bolder;
    background: var(--secondary-dark-color);
    cursor: pointer;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 420px) {
      margin-left: 0.4rem;
    }
  }

  &__captured {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 420px) {
      margin-left: 0.7rem;
    }
  }

  &__pokemon {
    width: 7.5rem;
    text-align: center;
    margin-top: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 80%;
    }
    h3 {
      font-size: 1.5rem;
    }
  }

  &__figure {
    width: 3.75rem;
    cursor: pointer;
  }
}
