:root {
  --white: #fff;
  --back-tag: #efefef;
  --primary-color: #262835;
  --secondary-color: #ff5473;
   --secondary-dark-color: #f86781;

  --grass: #7ac89e;
  --poison: #33736a;
  --fire: #ff5954;
  --fighting: #d67873;
  --flying: #a890f0;
  --ground: #ebd69d;
  --rock: #d1c17d;
  --bug: #c6d16e;
  --ghost: #a292bc;
  --steel: #d1d1e0;
  --water: #9db7f5;
  --electric: #fae078;
  --psychic: #fa92b2;
  --ice: #bce6e6;
  --dragon: #a27dfa;
  --dark: #a29288;
  --fairy: #f4bdc9;
  --normal: #c6c6a7;
}
