@import "./styles/reset.scss";
@import "./styles/variables.scss";
@import "./styles/pokemon-colors-type.scss";
@import "./styles/btn.scss";
@import "./styles/badge.scss";

html {
  background: var(--primary-color);
  font-family: Roboto, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
 
}
main {
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}
.pokeball{
  width:1.25rem;
}

