.footer-paginate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  @media (max-width: 420px) {
    justify-content: space-evenly;

    :first-child {
      margin-right: 3rem;
    }
    :last-child {
      margin-left: 3rem;
    }
  }

  p {
    color: var(--white);
    cursor: pointer;
  }
}
